<div class="container">
  <div class="row">
    <div class="col-md-5 col-xs-10 login-form">
      <h2>Login</h2>
      <form ngNativeValidate>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" [(ngModel)]="username" name="username" class="form-control" placeholder="Your Username ..." id="username">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Your Password ..." id="password">
        </div>
        <div class="row" *ngIf="alert">
          <div class="alert alert-danger col-md-12 col-xs-12" role="alert">
            Password Length is not less than 4 characters
          </div>
        </div>

        <br>

        <div class="row">
          <div class="form-group buttons col-md-6 offset-3">
            <button class="btn btn-primary" (click)="Login()">Login</button>
            <button class="btn btn-secondary">Register</button>
          </div>
        </div>

        <div class="row" *ngIf="alert">
          <div class="alert alert-danger col-md-12 col-xs-12" role="alert">
            Please Enter Valid Credentials
          </div>
        </div>

        <div class="forgot-password">
          <a href="#" (click)="forgotPassword()">Forgot Password?</a>
        </div>
        <div class="row captcha" *ngIf="noPassword">
          <div class="col-md-12 col-xs-12">
            <img src="./../../assets/img/captcha.jpeg" width=60% height="60%">
          </div>
          <div class="col-md-12 col-xs-12">
            <input type="email" name="email" class="form-control" [(ngModel)]="email" placeholder="Please Enter Your Email">
          </div>
          <div class="col-md-12 col-xs-12">
            <input type="text" name="captcha-text" class="form-control" [(ngModel)]="captcha" placeholder="Please Enter The Message In The Image ...">
          </div>
          <div class="col-md-12 col-xs-12">
            <button class="btn btn-dark" (click)="passwordCaptcha()" >Submit</button>
          </div>
        </div>
        <br>
        <div class="row falseCaptcha" *ngIf="captchaAlert">
            <div class="alert alert-danger col-md-12 col-xs-12" role="alert">
                Incorrect Captcha or Missing Email , Please Try Again
              </div>
        </div>
        <div class="row correctCaptcha" *ngIf="emailSent">
            <div class="alert alert-info col-md-12 col-xs-12" role="alert">
                Please check your mail , An email has been sent to reset your username and password
              </div>
        </div>


      </form>
    </div>
  </div>
</div>